@import 'bourbon/bourbon'

// color definitions
$dark-red: #77141c
$orange-red: #E48743
$yellow-orange: #EDC571
$yellow: #FDD56C
$light-blue: #81C6DD
$dark-blue: #27709b
$mantis: #90CA77
$gray: #A9A9A9
$shade-gray: #939393
$light-gray: #f4f4f4
$teal: #00ab88
$dark-charcol: #0d1117
$charcol: #161e27

h2
  font-size: 24px
  font-family: $helvetica
  color: $dark-red

a            
  color: $dark-blue
  text-decoration: none

a:hover      
  color: $dark-red

body
  background-color: $light-gray
  div.container
    // **************************   START HEADER
    header.banner
      position: relative
      margin: 0px auto
      pre.banner      
        font-family: 'Courier New', Monospace
        white-space: pre
        color: $shade-gray
      pre.mobile-banner
        display: block
        width: 470px
        margin: 0px auto
      @media screen and (min-width: 900px)
        width: 750px
        pre.mobile-banner
          display: none
          font-size: 16px 
      @media screen and (max-width: 900px)
        width: 100%
        pre.reg-banner
          display: none
          font-size: 16px 
      // ** start social
      div.social-navigation
        @media screen and (min-width: 900px)

          display: inline
          position: absolute
          right: 25px 
          top: 5px
          ol
            display: inline-block

        @media screen and (max-width: 900px)
          background-color: darken($light-gray, 5%)
          display: block
          ol
            display: block
            -webkit-margin-before: 0px
            -webkit-margin-after: 0px
            -webkit-padding-start: 0px
        padding-top: 0
        text-align: center
        a
          font-size: 40px
          padding: 0px


        li
          display: inline
          padding: 0


      // ** start nav links 
      div.navigation

        @media screen and (min-width: 900px)
          position: absolute
          display: inline-block
          ol
            display: inline
          text-align: right
          right: 200px
          top: 320px


        @media screen and (max-width: 900px)
          display: block
          ol
            display: block
          width: 100%
          padding: 10px
          text-align: center

        a
          font-family: $helvetica
          font-size: 24px
          color: $dark-blue
        a:hover      
          color: $dark-red
    // ******************************** END HEADER


  footer.footer
    text-align: center
    width: 100% 
    margin-top: 20px
    margin-bottom: 20px


  div.highlight
    padding: 15px
    background-color: $light-gray
    font-size: 14px

  div.bottom
    height: 48px
    padding-top: 0
    text-align: center
    top: 0
    left: 0
    width: 780px
    margin: 0px auto


table.archives
  font-family: $helvetica
  font-size: 14px
  display: block
  width: 100%
  td
    padding: 5px 
  td.even
    background-color: $light-gray
  td.date
    font-family: Fixed, monospace
    width: 100px
  td.odd
    background-color: darken($light-gray, 5%)

article.archive
  padding: 15px
  box-shadow: 0 0 0 1px #d1d1d1,0 0 4px 1px #ccc
  font-size: 16px
  background-color: white
  margin-bottom: 10px

section
  padding: 15px
  box-shadow: 0 0 0 1px #d1d1d1,0 0 4px 1px #ccc
  font-size: 16px
  background-color: white

.twitter:before 
  background: no-repeat
  content: " "
  float: right
  width: 64px
  height: 64px
  margin: -25px 0 0 0
  padding: 0 0 10px 10px

.twitter li  
  margin: 15px 0
  line-height: 1.2
  font-size: 15px

.twitter li:before 
  content: "♯"
  padding-left: 4px

.twitter .meta, .twitter .meta a
  color: #888
  font-size: 13px



// Posts
div.posts
  ol
    margin: 0px
    padding: 0px
    ul.posts, li.posts
      list-style-type: none
    ul, li
      list-style-type: disc
.post-info abbr
  font-size: 15px
  color: #555
  font-style: italic

div.footer
  padding: 20px
  text-align: center

footer.post-info 
  padding-bottom: 10px

.entry-content
  margin-top: 10px
  margin-bottom: 40px

.archive-entry-title a
  text-decoration: none
