<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.css" type="text/css" />
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% endblock head %}
  </head>

  <body>
    <div class="container">

      <header id="banner" class="body">
        <div class="banner"><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></div>
      </header>
      <div class="navigation">
        {% for title, link in MENUITEMS %}
        <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
      </div><!-- /#menu -->

      <div class="top-social">
      {% include 'social_navigation.html' %}
      </div>


      <div class="content">{% block content %}{% endblock %}</div>
      {% block aside %}

      <aside class="right-nav">
        {% include 'social_navigation.html' %}
        <table class="archives">
        {% for article in dates %}
            <tr>
              <td class="{{ loop.cycle('odd', 'even') }}">{{ article.locale_date }}</td>
              <td class="{{ loop.cycle('odd', 'even') }}"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
            </tr>
        {% endfor %}
        </table>
      </aside>  <!-- end right-content -->
      {% endblock aside %}


    </div> <!-- end container -->

    <footer id="contentinfo" class="footer">
      <div>
        {% for name, link in SOCIAL %}
        <a href="{{ link }}"><i class="icon-{{ name }}"></i>  </a>
        {% endfor %}
        {% if EMAIL%}
        <a href="mailto:{{ EMAIL }}"><i class="icon-envelope"></i> </a>
        {% endif %}
      </div>
      <div>
        powered by <a href="http://getpelican.com/">pelican</a>.
      </div>
    </footer><!-- /#contentinfo -->



  </body>
</html>
